#f{
    color: orange;
    font-size: 20px;
}
#s{
    color: orange;
    font-size: 20px;
}
#a{
    color: brown;
    font-size: 30px;
}
#b{
    color: brown;
    font-size: 30px;
}
form{
    background-color: rgb(22, 248, 6);
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
}
*{
    margin: 10;
    padding: 10;
}
#v{
    background-color: blue;
}
#x{
    background-color: aqua;
}
#r{
    background-color: red;
}
legend{
    margin: 10px;
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
