        h1{
            color: rgb(8, 203, 238);
            text-shadow: 9px 9px 10px red,
            0 0 1em blue,
            0 0 0.2em blue;

        }
        h2{
            color : rgb(37, 37, 146);
            text-shadow: 1px 1px 2px pink;
            
        }
        h3{
            color: hsl(300,80%,30%);
        }
        #a{
            font: italic small-caps bold 16px/2 cursive;
        }
        #b{
            color: rgb(0, 11, 4);
            background-image: url(3.jfif);
            font-style: italic;
            border: 3px groove black;
            margin: 10px;
            padding: 3px;
            /* text-shadow: ; for space between latter  */
        }
        
        #c{
            text-transform: uppercase;
            
        }
        #d{
            /* text-decoration: underline overline;
            line-height: 64px; */
            font: bolt normal 800 30px/50px helvetica,serif ;
        }
        #e{
            /* word-spacing: 20px;
            letter-spacing: 5px; */
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           font-size: x-large;
           font-weight: bold;
           font-style: italic;
           

        }
        #hl{
            text-transform:uppercase ;
        }
        #hll{
            font-variant: small-caps;
            /* font: style variant weight size/line-height family ; */
            /* font: bolt normal 800 30px/50px helvetica,serif :  */

        }
        #f{
            font-family: "Bitcount", system-ui;

        }
        #g{
            font-family: "Yarndings 20", system-ui;
        }